{% extends 'base.html.twig' %}

{# {% block title %}Détail un session{% endblock %}

{% block body %}
    <h1>Détail du session</h1>
    <p>    
        session : {{ session }} <br>
    </p>

    Référent de la session : {% for session in session.sessions %}
    <a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a><br> 
        
    {% endfor %} #}
  
   
{% endblock %}