.btn{
    background-color: #43339c; 
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
}

.btn1{
    background-color: #33849c; 
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;

}
h1{
    color: rgb(28, 114, 220)

}

h2{
    color:rgb(54, 104, 164)
}

.add{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    background: rgb(99, 138, 197);    
}