html, body{
    margin: 0;
    padding: 0;
    height : 100%;
}
body{
    background-color: white;
    font-family: Verdana,sans-serif;
    font-size: 100%;
    text-align: left;
    background-image: linear-gradient(rgb(124, 170, 217), rgb(211, 237, 169));
    background-repeat: no-repeat;
    background-size: 100%;

}
/*navbar*/
ul, li, a{
    color: rgb(75, 62, 221);
    text-align: center;
    text-decoration: none;
    list-style: none
}

td{
    font-family: Verdana,sans-serif;
    font-size: 100%;
    color:rgb(18, 20, 32);
    border: 2px solid black;
}

tr{
    font-family: Verdana,sans-serif;
    font-size: 100%;
    color:rgb(18, 20, 32);
    border: 2px solid black;
}

th{
    font-family: Verdana,sans-serif;
    font-size: 100%;
    color:rgb(18, 20, 32);
    
}


p{
    color: black;    
    text-decoration: none;
    list-style: none;
}
h1{
    font-size: 150%;
    color: rgb(50, 50, 215);
    text-align: left;
}

h2{
    font-size: 100%;
    color: rgb(96, 96, 232);
    text-align: left;
}


.btn{
    background-color: #4091e7; 
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: left;    
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
}

.btn1{
    background-color: #add9e7; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;

}

.add{
    width: 100%;
    display: flex;
    /* gap: 20px; */
    /* padding: 20px; */
    background: rgb(112, 166, 241); 
    justify-content: center;
    
}

td{
    border-spacing: 5px 1rem;
}


