{% extends 'base.html.twig' %}

{% block title %}Ajouter une stagiaire{% endblock %}

{% block body %}
    <h1>Ajouter une stagiaire</h1>
<div class="add">
    {{ form(formAddStagiaire)}}
</div>
{% endblock %}