{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
    <h1>Liste des stagiaires</h1>
    <a class="btn" href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a><br>
    {% for stagiaire in stagiaires %}
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire }}</a> <br>

    {% endfor %}

{% endblock %}

