{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}
    <h1>Ajouter une session</h1>
<<<<<<< HEAD
<div class="add">
    {{ form(formAddSession)}}<br>
</div>
=======

    {{ form(formAddSession)}}
>>>>>>> parent of fb1cde4... Add&Edit&Delete Done
{% endblock %}