{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1>
  
    {% for session in sessions %}
        <a href="{{ path('show_session', {'id':session.id}) }}">{{ session }}</a><br> 
    {% endfor %} 

    <p>
    <a class="btn" href="{{ path('add_session') }}">Ajouter une session</a><br> 
    </p>

{% endblock %}

