{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
    <h1>Liste des modules</h1>
    <a class="btn" href="{{ path('add_module') }}">Ajouter un module</a><br> 
    {% for module in modules %}
        <a href="{{ path('show_module', {'id':module.id}) }}">{{ module }}</a><br> 
      
    {% endfor %}
    
{% endblock %}

