{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Liste des categories</h1>
    <a class="btn" href="{{ path('add_categorie') }}">Ajouter une categorie</a><br> 

    {% for categorie in categories %}
        <a href="{{ path('show_categorie', {'id':categorie.id}) }}">{{ categorie }}</a><br> 
    {% endfor %} 

{% endblock %}

