{% extends 'base.html.twig' %}

{% block title %}Détail d'une categorie{% endblock %}

{% block body %}
    <h1>Fiche categorie</h1>
    <p>    
        Catégorie : {{ categorie.nomCategorie}}  <br>
    </p>
    
{% endblock %}