{% extends 'base.html.twig' %}

{% block title %}Ajouter un formateur{% endblock %}

{% block body %}
<<<<<<< HEAD
    {% if edit %}
     <h1>Editer un formateur</h1>
    {% else %}
     <h1>Ajouter un formateur</h1>
    {% endif %}
 
    {# {{ form_start(formAddFormateur)}}
    {{ form_row(formAddFormateur)}}   
    {{ form_end(formAddFormateur)}} #}
<div class="add">
=======
    <h1>Ajouter un formateur</h1>

>>>>>>> parent of fb1cde4... Add&Edit&Delete Done
    {{ form(formAddFormateur)}}
</div>
{% endblock %}