{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
    <h1>Liste des formateurs</h1>

    {% for formateur in formateurs %}
        {{ formateur.nom ~ ' ' ~ formateur.prenom}} <br>
    {% endfor %}

{% endblock %}
